<div class="control-center" *ngIf="drawModeONN">
  <button (click)="addWidget()" style="margin: 10px;">Add Widget</button>
  <button (click)="saveLayout()" style="margin: 10px;">💾 Save Layout</button>
  <button (click)="showLayout()" style="margin: 10px;">Preview</button>
  <button (click)="predefLayouts()" style="margin: 10px;">Predefined Layouts</button>
</div>

<div *ngIf="!drawModeONN">
  <button (click)="saveLayout()">💾 Save Layout</button>
</div>

<div #gridContainer class="grid-stack"></div>

<app-data-picker-modal
  [show]="showDataPicker"
  [templateInput]="templateInput"
  [chartTypes]="chartTypes"
  [design]="design"
  [selectedStats]="selectedStats"
  (statsApplied)="handleStatsApplied($event)"
  (designApplied)="handleDesignApplied($event)"
  (tableSelected)="handleTableSelected($event)"
  (chartSelected)="handleChartSelected($event)"
  (modalClosed)="showDataPicker = false">
</app-data-picker-modal>
